_site/
.sass-cache/
.jekyll-metadata
_pdf
.DS_Store
.idea
vendor/
.bundle/
mkdocs.en.info.yml
overrides.en.info/extra_js/feedback.js
overrides.en.info/home/assets/agentasisst.svg
overrides.en.info/home/assets/answers.svg
overrides.en.info/home/assets/automation.svg
overrides.en.info/home/assets/campaign.svg
overrides.en.info/home/assets/Campaigns.svg
overrides.en.info/home/assets/contact-center.svg
overrides.en.info/home/assets/kore-logo.svg
overrides.en.info/home/assets/kore-logos/kore-light-logo.svg
overrides.en.info/home/assets/kore-logos/kore.ai_logo.svg
overrides.en.info/home/assets/mdc-banner.svg
overrides.en.info/home/assets/platform-icon.svg
overrides.en.info/home/assets/quality-mangement.svg
overrides.en.info/home/assets/quirky-paper-plane-with-dotted-line.svg
overrides.en.info/home/assets/uxo-landing-product-ai.svg
overrides.en.info/home/assets/uxo-landing-product-cc.svg
overrides.en.info/home/assets/uxo-landing-product-sa.svg
overrides.en.info/home/assets/uxo-landing-product-va.svg
overrides.en.info/home/home.html
overrides.en.info/partials/header.html
overrides.en.info/partials/nav.html
overrides.en.info/partials/tabs.html
overrides.en.info/stylesheets/extra_kore.css
